body{
    text-align: center
        
}



.app{
    
    background: red;
}


.games{
    background: orange;
}


.chatbot{
    background: yellow;
}

img{
    width: 250px;
    height: 300px;
    margin: 20px;
}


h2{
    color: white;
    font-family: fantasy;
    font-size: 50px;
}

h1{
    font-size: 100px;
    font-family: fantasy;
}